#propertyCard {
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-border-radius: 2px;
    -fx-cursor: hand;
    -fx-background-color: #bbf3e9;

}

.label{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-background-color: #eaf5cb;
    -fx-padding: 5px;
    -fx-border-color: #dcd9d9;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}