.button {
    -fx-background-color: #a8e366;
    -fx-border-color: black;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: #77e1ff;
}