.terminationCard{
    -fx-border-color: black;
    -fx-border-width: 5px;
    -fx-border-style: solid;
    -fx-background-color: #bbf3e9;
}

.label{
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-background-color: #eaf5cb;
    -fx-padding: 5px;
    -fx-border-color: #dcd9d9;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}